<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Go Todo</title>
	<script src="/angular.min.js"></script>
	<script src="/todo.js"></script>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<h1>Go Todo</h1>
	<div class="container" ng-controller="TaskController">
		<form>
			<label for="Title">Title</label>
			<input type="text" name="Title" ng-model="taskTitle">
			<button ng-click="addTodo()">Add Task</button>
		</form>
		<h2>Tasks</h2>
		<ul>
			<li ng-repeat="t in tasks" ng-class="{done: t.Done}">
				<input type="checkbox" ng-click="toggleDone(t)" ng-checked="t.Done"><span ng-click="editableTask(t)">{{ t.Title }}</span>
				<input type="button" value="delete" ng-click="deleteTask(t)">
			</li>
		</ul>
	</div>
</body>
</html>