<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Go Todo</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="/todo.js"></script>
</head>
<body>
	<h1>Go Todo</h1>
	<div class="container" ng-controller="TaskController">
		<form>
			<label for="Title">Title</label>
			<input type="text" name="Title" ng-model="taskTitle">
			<button ng-click="addTodo()">Add Task</button>
		</form>
		<h2>Tasks</h2>
		<ul>
			<li ng-repeat="t in tasks" ng-class="{done: t.Done}"><span ng-click="toggleDone(t)">Check</span>{{ t.Title }}</li>
		</ul>
	</div>
</body>
</html>